# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, mariadb-server, mariadb-client

                                   # LICENSE  Python3

django==1.10.6                     # MIT      y
django-rest-auth==0.9.3            # MIT      ?
djangorestframework>=3.6.0,<3.7    # BSD      y
coreapi==2.3.3                     # BSD      y
coreapi-cli==1.0.9                 # BSD      y
gunicorn==19.8.1                   # MIT      y
mysqlclient==1.3.12                # GPL      y
