# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, mariadb-server, mariadb-client

                                   # LICENSE

django>=4.1.0,<4.2                 # MIT
dj-rest-auth>=2.2.0,<2.3           # MIT
djangorestframework>=3.13.0,<3.14  # BSD
drf-yasg>=1.21.0,<1.22             # BSD
redis                              # MIT
gunicorn                           # MIT
mysqlclient                        # GPL

bpython
coverage
pytest
pytest-cov
pytest-django
