# dependencies used in all environments

# Non-Python dependencies
# sudo apt-get install python2.7, supervisor, mariadb-server, mariadb-client

                                   # LICENSE

django>=1.11,<2.0                  # MIT
django-rest-auth==0.9.3            # MIT
djangorestframework>=3.6.0,<3.7    # BSD
coreapi==2.3.3                     # BSD
coreapi-cli==1.0.9                 # BSD
gunicorn==20.0.4                   # MIT
mysqlclient==1.4.6                 # GPL

bpython
coverage
pytest
pytest-cov
pytest-django
